* {
  box-sizing: border-box;
}

.main {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.listBox {
  display: flex;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}
